{
    "client": "Thunder Client",
    "collectionName": "Postman Collection for Check Point Harmony Connect API Network Access",
    "dateExported": "{{ ansible_date_time.date|default('1970') }}",
    "version": "1.1",
    "folders": [
        {
            "_id": "e88b38b2-8373-4a25-b279-880921be15a4",
            "name": "sites",
            "containerId": "",
            "created": "2023-09-05T08:48:31.427Z",
            "sortNum": 10000
        },
        {
            "_id": "c0fcac28-f7ae-45e2-b28c-a2efe8aff89d",
            "name": "{site Id}",
            "containerId": "e88b38b2-8373-4a25-b279-880921be15a4",
            "created": "2023-09-05T08:48:31.428Z",
            "sortNum": 20000
        },
        {
            "_id": "1276fc88-4667-4b74-bc60-301c3a608d2d",
            "name": "locations",
            "containerId": "",
            "created": "2023-09-05T08:48:31.429Z",
            "sortNum": 30000
        },
        {
            "_id": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Policy",
            "containerId": "",
            "created": "2023-10-04T12:15:10.502Z",
            "sortNum": 40000
        }
    ],
    "requests": [
        {
            "_id": "cd23a91d-4e87-4258-b7c7-01eb05383e90",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "",
            "name": "Authenticate using an API Key",
            "url": "{% raw %}{{authURL}}{% endraw %}/auth/external",
            "method": "POST",
            "sortNum": 10000,
            "created": "2023-09-05T08:48:31.427Z",
            "modified": "2023-10-04T12:14:03.344Z",
            "headers": [
                {
                    "name": "User-Agent",
                    "value": "Thunder Client (https://www.thunderclient.com)",
                    "isDisabled": true
                },
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [],
            "body": {
                "type": "json",
                "raw": "{\n    \"clientId\": \"{%raw%}{{clientId}}{%endraw%}\",\n    \"accessKey\": \"{%raw%}{{accessKey}}{%endraw%}\"\n}",
                "form": []
            },
            "tests": []
        },
        {
            "_id": "6d745368-d9c0-4ece-bf6d-3a138b3db7af",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "e88b38b2-8373-4a25-b279-880921be15a4",
            "name": "Get all sites",
            "url": "{% raw %}{{baseURL}}{%endraw%}/sites",
            "method": "GET",
            "sortNum": 25000,
            "created": "2023-10-04T12:15:33.084Z",
            "modified": "2023-10-04T12:15:33.084Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "9270c6b6-2711-4adc-9eff-9b40677fa1ba",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Get all applications",
            "url": "{%raw%}{{baseURL}}{%endraw%}/applications",
            "method": "GET",
            "sortNum": 100000,
            "created": "2023-09-05T08:48:31.428Z",
            "modified": "2023-10-04T12:16:09.309Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                },
                {
                    "name": "Origin",
                    "value": "https://adanite.odo.io"
                }
            ],
            "params": [],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "6d745368-d9c0-4ece-bf6d-3a138b3db7a0",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "1276fc88-4667-4b74-bc60-301c3a608d2d",
            "name": "Get all Locations",
            "url": "{% raw %}{{baseURL}}{%endraw%}/locations",
            "method": "GET",
            "sortNum": 25000,
            "created": "2023-10-04T12:15:33.084Z",
            "modified": "2023-10-04T12:15:33.084Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "6d745368-d9c0-4ece-bf6d-3a138b3db7a1",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Get all Rulebases",
            "url": "{% raw %}{{baseURL}}{%endraw%}/rulebases",
            "method": "GET",
            "sortNum": 25000,
            "created": "2023-10-04T12:15:33.084Z",
            "modified": "2023-10-04T12:15:33.084Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "docs": "verified",
            "tests": []
        },
        {
            "_id": "6d745368-d9c0-4ece-bf6d-3a138b3db7a2",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Get Rulebase by ID",
            "url": "{% raw %}{{baseURL}}{%endraw%}/rulebases/{% raw %}{{RULEBASEID}}?offset=0&limit=20{%endraw%}",
            "method": "GET",
            "sortNum": 25000,
            "created": "2023-10-04T12:15:33.084Z",
            "modified": "2023-10-04T12:15:33.084Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [{
                    "RulebaseID": "RulebaseID",
                    "value": "aliqua pari",
                    "isDisabled": false,
                    "isPath": true
                }],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "6d745368-d9c0-4ece-bf6d-3a138b3db7a3",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Get Services",
            "url": "{% raw %}{{baseURL}}{%endraw%}/services?offset=0&limit=20",
            "method": "GET",
            "sortNum": 25000,
            "created": "2023-10-04T12:15:33.084Z",
            "modified": "2023-10-04T12:15:33.084Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "6d745368-d9c0-4ece-bf6d-3a138b3db7a4",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Get Network Lists",
            "url": "{% raw %}{{baseURL}}{%endraw%}/networkLists?offset=0&limit=20",
            "method": "GET",
            "sortNum": 25000,
            "created": "2023-10-04T12:15:33.084Z",
            "modified": "2023-10-04T12:15:33.084Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [{
                    "RulebaseID": "RulebaseID",
                    "value": "aliqua pari",
                    "isDisabled": false,
                    "isPath": true
                }],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "6d745368-d9c0-4ece-bf6d-3a138b3db7a5",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Get Network and Services",
            "url": "{% raw %}{{baseURL}}{%endraw%}/servicesAndNetworks?offset=0&limit=20",
            "method": "GET",
            "sortNum": 25000,
            "created": "2023-10-04T12:15:33.084Z",
            "modified": "2023-10-04T12:15:33.084Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [{
                    "RulebaseID": "RulebaseID",
                    "value": "aliqua pari",
                    "isDisabled": false,
                    "isPath": true
                }],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "6d745368-d9c0-4ece-bf6d-3a138b3db7a6",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Get Policy Status",
            "url": "{% raw %}{{baseURL}}{%endraw%}/policyStatus",
            "method": "GET",
            "sortNum": 25000,
            "created": "2023-10-04T12:15:33.084Z",
            "modified": "2023-10-04T12:15:33.084Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [{
                    "RulebaseID": "RulebaseID",
                    "value": "aliqua pari",
                    "isDisabled": false,
                    "isPath": true
                }],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "0e940eb8-9325-4e83-b081-d9d6b595a0c3",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Create Policy on Rulebase",
            "url": "{% raw %}{{baseURL}}{%endraw%}/policyStatus",
            "method": "POST",
            "sortNum": 25000,
            "created": "2023-10-04T12:15:33.084Z",
            "modified": "2023-10-04T12:15:33.084Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [],
            "body": {
                "type": "json",
                "raw": "{\n  \"action\": \"ALLOW\",\n  \"name\": \"Any Identified User\",\n  \"description\": \"collection test\",\n  \"disabled\": true,\n  \"trustProfileId\": \"11111111-1111-1111-1111-111111111111\",\n  \"addSourceIds\": [\n    \"7a4997ea-0fd5-4e4b-85c2-efe6248e2dd5\"\n  ]\n}",
                "form": []
            },
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "368eee46-4c05-4544-b968-02d25e66ec12",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Get Network and Services by ID",
            "url": "{% raw %}{{baseURL}}{%endraw%}/servicesAndNetworks/{% raw %}{{OBJECTID}}{% endraw %}",
            "method": "GET",
            "sortNum": 25000,
            "created": "2023-10-09T13:40:53.281Z",
            "modified": "2023-10-09T13:47:13.375Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "0e4b4505-5d68-411b-877b-e0000bd99774",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Create Network and Services by name APITEST",
            "url": "{% raw %}{{baseURL}}{%endraw%}/servicesAndNetworks",
            "method": "POST",
            "sortNum": 25000,
            "created": "2023-10-09T13:42:55.170Z",
            "modified": "2023-10-09T13:59:01.904Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [],
            "body": {
                "type": "json",
                "raw": "{\n  \"name\": \"servicesandnetworksapitest\",\n  \"networks\": [\n    \"10.140.20.1\"\n  ],\n  \"services\": [\n    \"97aeb3f9-9aea-11d5-bd16-0090272ccb30\"\n  ],\n  \"description\": \"Description of the object APITEST\"\n}",
                "form": []
            },
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "88394c18-a8b8-4284-8856-f0fbe1f51376",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Get Network and Services by Name",
            "url": "{% raw %}{{baseURL}}{%endraw%}/servicesAndNetworks?offset=0&limit=20&matchSearch={% raw %}{{RESOURCEGROUPNAME}}{%endraw%}",
            "method": "GET",
            "sortNum": 25000,
            "created": "2023-10-09T13:46:08.708Z",
            "modified": "2023-10-09T13:46:08.708Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [
                {
                    "name": "offset",
                    "value": "0",
                    "isPath": false
                },
                {
                    "name": "limit",
                    "value": "20",
                    "isPath": false
                },
                {
                    "name": "matchSearch",
                    "value": "roup-fhooe-service-provider-pvs",
                    "isPath": false
                }
            ],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "e5936fde-f2d1-4aa7-af83-024cab6968e6",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Publish Changes",
            "url": "{% raw %}{{baseURL}}{%endraw%}/publishChanges",
            "method": "POST",
            "sortNum": 105000,
            "created": "2023-10-09T13:31:34.629Z",
            "modified": "2023-10-09T13:33:32.148Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                },
                {
                    "name": "Origin",
                    "value": "https://adanite.odo.io"
                }
            ],
            "params": [],
            "body": {
                "type": "json",
                "raw": "{\n  \"data\": {\n    \"publishState\": \"INIT on APITest\",\n    \"errors\": [\n      {\n        \"message\": \"APITEST (FHOOETICKETNUMBER)\"\n      }\n    ],\n    \"typeName\": \"string\"\n  }\n}",
                "form": []
            },
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "e5936fde-f2d1-4aa7-af83-024cab6968e7",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Discard Changes on Policy",
            "url": "{% raw %}{{baseURL}}{%endraw%}/discardChanges",
            "method": "POST",
            "sortNum": 105000,
            "created": "2023-10-09T13:31:34.629Z",
            "modified": "2023-10-09T13:33:32.148Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                },
                {
                    "name": "Origin",
                    "value": "https://adanite.odo.io"
                }
            ],
            "params": [],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        }
    ],
    "settings": {
        "auth": {
            "type": "bearer",
            "bearer": "<Bearer Token>"
        }
    }
}