{
    "client": "Thunder Client",
    "collectionName": "Postman Collection for Check Point Harmony Connect API Aplication Access",
    "dateExported": "{{ ansible_date_time.date|default('1970') }}",
    "version": "1.1",
    "folders": [
        {
            "_id": "e88b38b2-8373-4a25-b279-880921be15a4",
            "name": "sites",
            "containerId": "",
            "created": "2023-09-05T08:48:31.427Z",
            "sortNum": 10000
        },
        {
            "_id": "c0fcac28-f7ae-45e2-b28c-a2efe8aff89d",
            "name": "{site Id}",
            "containerId": "e88b38b2-8373-4a25-b279-880921be15a4",
            "created": "2023-09-05T08:48:31.428Z",
            "sortNum": 20000
        },
        {
            "_id": "1276fc88-4667-4b74-bc60-301c3a608d2d",
            "name": "locations",
            "containerId": "",
            "created": "2023-09-05T08:48:31.429Z",
            "sortNum": 30000
        },
        {
            "_id": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "apps",
            "containerId": "",
            "created": "2023-10-04T12:15:10.502Z",
            "sortNum": 40000
        }
    ],
    "requests": [
        {
            "_id": "cd23a91d-4e87-4258-b7c7-01eb05383e90",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "",
            "name": "Authenticate using an API Key",
            "url": "{% raw %}{{authURL}}{% endraw %}/auth/external",
            "method": "POST",
            "sortNum": 10000,
            "created": "2023-09-05T08:48:31.427Z",
            "modified": "2023-10-04T12:14:03.344Z",
            "headers": [
                {
                    "name": "User-Agent",
                    "value": "Thunder Client (https://www.thunderclient.com)",
                    "isDisabled": true
                },
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [],
            "body": {
                "type": "json",
                "raw": "{\n    \"clientId\": \"{%raw%}{{clientId}}{%endraw%}\",\n    \"accessKey\": \"{%raw%}{{accessKey}}{%endraw%}\"\n}",
                "form": []
            },
            "tests": []
        },
        {
            "_id": "6d745368-d9c0-4ece-bf6d-3a138b3db7af",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "e88b38b2-8373-4a25-b279-880921be15a4",
            "name": "Get all sites Copy",
            "url": "{% raw %}{{baseURL}}{%endraw%}/sites/",
            "method": "GET",
            "sortNum": 25000,
            "created": "2023-10-04T12:15:33.084Z",
            "modified": "2023-10-04T12:15:33.084Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                },
                {
                    "name": "Origin",
                    "value": "https://adanite.odo.io"
                }
            ],
            "params": [],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        },
        {
            "_id": "ce86b78a-e017-4bc2-a1cc-2e720622b2a1",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "e88b38b2-8373-4a25-b279-880921be15a4",
            "name": "Create a site",
            "url": "",
            "method": "POST",
            "sortNum": 30000,
            "created": "2023-09-05T08:48:31.429Z",
            "modified": "2023-09-05T08:48:31.429Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [],
            "body": {
                "type": "json",
                "raw": "{\n    \"name\": \"fugiat Duis eiusmod proident\",\n    \"subnets\": [\n        \"incididunt irure nostrud id\",\n        \"dolor exercitation\"\n    ],\n    \"tunnelType\": \"GRE\",\n    \"description\": \"consequat ad\",\n    \"locationId\": \"minim incididunt\",\n    \"address\": \"tempor\",\n    \"latitude\": 16200000.326544568,\n    \"longitude\": 50805985.8325277,\n    \"deviceType\": \"CLOUD-GENIX\",\n    \"greConnection\": {\n        \"externalIp\": \"<string>\"\n    },\n    \"ipsecConnection\": {\n        \"isDynamicIp\": \"<boolean>\",\n        \"isMonitorWithDpd\": \"<boolean>\",\n        \"staticIpConnection\": {\n            \"externalIps\": [\n                \"<string>\",\n                \"<string>\"\n            ],\n            \"preSharedKey\": \"<string>\"\n        },\n        \"dynamicIpConnection\": {\n            \"interfaceIdentifiers\": [\n                \"<string>\",\n                \"<string>\"\n            ],\n            \"preSharedKey\": \"<string>\"\n        }\n    }\n}"
            }
        },
        {
            "_id": "0b8fae2a-ffd4-47ae-9058-d9fe37980171",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "c0fcac28-f7ae-45e2-b28c-a2efe8aff89d",
            "name": "Get a site by its ID",
            "url": "",
            "method": "GET",
            "sortNum": 40000,
            "created": "2023-09-05T08:48:31.430Z",
            "modified": "2023-09-05T08:48:31.430Z",
            "headers": [],
            "params": [
                {
                    "name": "siteId",
                    "value": "aliqua pari",
                    "isDisabled": false,
                    "isPath": true
                }
            ]
        },
        {
            "_id": "77e4ea0e-4b9e-4d0a-a72f-5500180fb522",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "c0fcac28-f7ae-45e2-b28c-a2efe8aff89d",
            "name": "Update a site",
            "url": "",
            "method": "PATCH",
            "sortNum": 50000,
            "created": "2023-09-05T08:48:31.431Z",
            "modified": "2023-09-05T08:48:31.431Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ],
            "params": [
                {
                    "name": "siteId",
                    "value": "aliqua pari",
                    "isDisabled": false,
                    "isPath": true
                }
            ],
            "body": {
                "type": "json",
                "raw": "{\n    \"name\": \"veniam mollit dolor\",\n    \"description\": \"quis Lorem\",\n    \"address\": \"labore\",\n    \"longitude\": -83689769.41541648,\n    \"latitude\": -15109361.575238451,\n    \"deviceType\": \"CITRIX\",\n    \"subnets\": [\n        \"Lorem labore qui\",\n        \"enim ad\"\n    ],\n    \"greConnection\": {\n        \"externalIp\": \"<string>\"\n    },\n    \"ipsecConnection\": {\n        \"isDynamicIp\": \"<boolean>\",\n        \"isMonitorWithDpd\": \"<boolean>\",\n        \"staticIpConnection\": {\n            \"externalIps\": [\n                \"<string>\",\n                \"<string>\"\n            ],\n            \"preSharedKey\": \"<string>\"\n        },\n        \"dynamicIpConnection\": {\n            \"interfaceIdentifiers\": [\n                \"<string>\",\n                \"<string>\"\n            ],\n            \"preSharedKey\": \"<string>\"\n        }\n    }\n}"
            }
        },
        {
            "_id": "4fadb6f7-c59a-4dc3-8593-b4ae3a74e64b",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "c0fcac28-f7ae-45e2-b28c-a2efe8aff89d",
            "name": "Delete a site",
            "url": "",
            "method": "DELETE",
            "sortNum": 60000,
            "created": "2023-09-05T08:48:31.432Z",
            "modified": "2023-09-05T08:48:31.432Z",
            "headers": [],
            "params": [
                {
                    "name": "siteId",
                    "value": "aliqua pari",
                    "isDisabled": false,
                    "isPath": true
                }
            ]
        },
        {
            "_id": "bb43f539-3fd7-43c3-b8eb-ae86efd4a7db",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "1276fc88-4667-4b74-bc60-301c3a608d2d",
            "name": "Get all available locations of the cloud service",
            "url": "",
            "method": "GET",
            "sortNum": 70000,
            "created": "2023-09-05T08:48:31.433Z",
            "modified": "2023-09-05T08:48:31.433Z",
            "headers": [],
            "params": []
        },
        {
            "_id": "9342e4a3-f20a-4a89-b1fa-92ca7516b840",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "1276fc88-4667-4b74-bc60-301c3a608d2d",
            "name": "Get a location of the cloud service by its ID",
            "url": "",
            "method": "GET",
            "sortNum": 80000,
            "created": "2023-09-05T08:48:31.434Z",
            "modified": "2023-09-05T08:48:31.434Z",
            "headers": [],
            "params": [
                {
                    "name": "locationId",
                    "value": "aliqua pari",
                    "isDisabled": false,
                    "isPath": true
                }
            ]
        },
        {
            "_id": "9270c6b6-2711-4adc-9eff-9b40677fa1ba",
            "colId": "f82982c4-454d-49ff-a4a9-880d3454e095",
            "containerId": "7d1e6659-f51a-4bf8-b15f-7c5475530b8f",
            "name": "Get all sites",
            "url": "{%raw%}{{baseURL}}{%endraw%}/apps/",
            "method": "GET",
            "sortNum": 100000,
            "created": "2023-09-05T08:48:31.428Z",
            "modified": "2023-10-04T12:16:09.309Z",
            "headers": [
                {
                    "name": "Content-Type",
                    "value": "application/json"
                },
                {
                    "name": "Origin",
                    "value": "https://adanite.odo.io"
                }
            ],
            "params": [],
            "auth": {
                "type": "bearer",
                "bearer": "{%raw%}{{token}}{%endraw%}"
            },
            "tests": []
        }
    ],
    "settings": {
        "auth": {
            "type": "bearer",
            "bearer": "<Bearer Token>"
        }
    }
}