# Documentaion build {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Documentaion for {{ inventory_hostname|lower }}
# Managed by Ansible


## Checkpoint Harmony Portal Config

```YAML
harmony_tenant_name: {{ harmony_tenant_name }}
harmony_tenant_id: 
az_ad_application_id: 
az_ad_directory: {{ az_ad_directory }}
az_ad_secret: 
az_ad_saml_application_metadata: {{ az_ad_saml_application_metadata }}
cloud_location: {{ cloud_location }}
```


## Checkpoint Harmony Application Access


| Ressourcegroup (Servicename) | Beschreibung | AD Gruppe | Application Site |
| --- | --- | --- | --- |
{%for cp_harmonyportal_application ,value in cp_harmonyportal_applications.items()%}
| {{ cp_harmonyportal_application }} ({{ value.app_type }}) | {{ value.description }} | {{ value.app_access_groups }} | {{ value.app_site }} |
{% endfor %}


## AD Group Troubleshootig for Application Access

{%for cp_harmonyportal_application ,value in cp_harmonyportal_applications.items()%}
## {{ cp_harmonyportal_application }} :
Get-ADGroupMember -Identity {{ value.app_access_groups }}

{% endfor %}


## Checkpoint Harmony Network Access


| Dienst / Ressource (Servicename) | Beschreibung | AD Gruppe | Application Site |
| --- | --- | --- | --- |
{%for cp_harmony_nwaccess_rg, value in cp_harmonyportal_networkaccess.items()%}
{%for  fsg_consumer, value in cp_harmonyportal_networkaccess[cp_harmony_nwaccess_rg].fsg_consumer.items()%}
{%for  fsg_consumer_host, value in cp_harmonyportal_networkaccess[cp_harmony_nwaccess_rg].fsg_consumer[fsg_consumer].items()%}
| {{ cp_harmony_nwaccess_rg }} | {{ cp_harmonyportal_networkaccess[cp_harmony_nwaccess_rg].description|default() }} | {{ cp_harmonyportal_networkaccess[cp_harmony_nwaccess_rg].fsg_consumer[fsg_consumer].ia_group|default() }} | {{ fsg_consumer }}({{ fsg_consumer_host }}) |
{% endfor %}
{% endfor %}
{% endfor %}




## AD Group Troubleshootig for Network Access
{%for cp_harmony_nwaccess_rg, value in cp_harmonyportal_networkaccess.items()%}
{%for  fsg_consumer, value in cp_harmonyportal_networkaccess[cp_harmony_nwaccess_rg].fsg_consumer.items()%}
{%for  fsg_consumer_host, value in cp_harmonyportal_networkaccess[cp_harmony_nwaccess_rg].fsg_consumer[fsg_consumer].items()%}
Get-ADGroupMember -Identity {{ cp_harmonyportal_networkaccess[cp_harmony_nwaccess_rg].fsg_consumer[fsg_consumer].ia_group|default() }}
{% endfor %}
{% endfor %}
{% endfor %}
