{
    "client": "Thunder Client",
    "environmentName": "Application Access {{ harmony_tenant_name|default('default-review') }}",
    "dateExported": "{{ ansible_date_time.date|default('1970') }}",
    "version": "1.0",
    "variables": [
        {
            "name": "accessKey",
            "value": "{{ cp_harmonyportal_api_access_key|default('COPY ACCESS KEY HERE') }}"
        },
        {
            "name": "clientId",
            "value": "{{ cp_harmonyportal_api_client_id|default('COPY CLIENT ID HERE') }}"
        },
        {
            "name": "authURL",
            "value": "{{ cp_harmonyportal_api_authurl|default('https://cloudinfra-gw-us.portal.checkpoint.com') }}"
        },
        {
            "name": "baseURL",
            "value": "{{ cp_harmonyportal_api_baseurl|default('https://cloudinfra-gw.portal.checkpoint.com/app/odo/api/v1') }}"
        },
        {
            "name": "token",
            "value": "COPY ACCESS KEY HERE"
        }
    ]
}